@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    height: 10%;
    background-color: #F4AA24;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin-left: 30px;
    font-family: 'Yusei Magic', sans-serif;
    color: #7111A8;
}

ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

ul li {
    margin-left: 30px
}

ul li a {
    text-decoration: none;
    color: #7111A8;
    font-weight: bold;
}

ul li a:hover {
    color: #000000;
}

main {
    height: 80vh;
    width: 100vw;

    margin-top: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #5B5B5B;
    width: 100vw;
    height: 3rem;
}

.info h3 {
    font-size: 2rem;
    padding: 40px;
    font-family: 'Yusei Magic', sans-serif;
}

footer {
    height: 10vh;
    width: 100vw;
    background-color: #F4AA24;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy {
    color: #000;
    font-weight: 500;
}
